{% load filters %}
<div class="form-group {% if field.errors %}has-error{% endif %}">

    <!-- Widget type: {{ field|get_widget }} -->

    {% if field|is_char_field %}
        {% include "incs/widget/char_field.html" with field=field data_type="string" %}
    {% endif %}
    {% if field|is_integer_field %}
        {% include "incs/widget/char_field.html" with field=field data_type="integer" %}
    {% endif %}
    {% if field|is_float_field %}
        {% include "incs/widget/char_field.html" with field=field data_type="float" %}
    {% endif %}
    {% if field|is_boolean_field %}
        {% include "incs/widget/boolean_field.html" with field=field %}
    {% endif %}
    {% if field|is_checkbox_multi_field %}
        {% include "incs/widget/char_field.html" with field=field %}
    {% endif %}
    {% if field|is_model_choice_field %}
        {% include "incs/widget/model_choice_field.html" with field=field %}
    {% endif %}
    {% if field|is_datetime_field %}
        {{ field.label }}
        {{ field }}
    {% endif %}
    {% if field|is_date_field %}
        {{ field.label }}
        {{ field }}
    {% endif %}

</div>