{% extends "core/base.html" %}
{% load admin_static %}

{% block extrajs %}
    <script type="text/javascript" src="{% static "js/highstock.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/stockchart.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-8">
        <fieldset>
            <legend>Stockchart</legend>

            <div id="stockchart" data-url="{% url 'stock_rates_json' stock.symbol %}" style="height: 500px;">

            </div>
            {{ stock }}
        </fieldset>

    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Options</legend>
            <a href="{% url 'stock_get_history' stock.symbol %}" class="btn btn-block btn-danger">Fetch historic data</a>
        </fieldset>
    </div>
    </div>

{% endblock %}